# ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# ignore nix flakes related files
/.direnv
/flake.nix
/flake.lock

# ignore compiled tailwind css
/static/css/tailwind.css
