package partial

import "github.com/murtaza-u/account/view/partial/icon"

templ Nav() {
	<nav class="navbar bg-base-100 px-3 lg:px-5">
		<a href="/" class="text-2xl font-bold">
			@icon.Key()
			<span class="ml-3">Account</span>
		</a>
	</nav>
}
