tr.htmx-swapping td {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.htmx-request#spinner,
.htmx-request #spinner,
.htmx-request#spinner-delete,
.htmx-request #spinner-delete,
.htmx-request#spinner-authorize,
.htmx-request #spinner-authorize,
.htmx-request#spinner-cancel,
.htmx-request #spinner-cancel {
  display: inline;
}
